/*
    For all styling of elements on the page.
    Colors, borders, etc...
*/

body{
	background-color:#f5f5f5;
	background-repeat:repeat;
	font-family:sans-serif;
}

header{
	font-size:90px;
	font-family: 'Rationale', sans-serif;
	
	color:#f5f5f5;

	-webkit-transition-property: text-shadow;
	-webkit-transition-duration:500ms;
	-webkit-transition-timing-function: ease-in-out;

	-moz-transition-property: text-shadow;
	-moz-transition-duration:500ms;
	-moz-transition-timing-function: ease-in-out;

	-o-transition-property: text-shadow;
	-o-transition-duration:500ms;
	-o-transition-timing-function: ease-in-out;
}

h2{
	font-size:1.5em;
}

.btn>a:link    {color:white;text-decoration: none;}
.btn>a:visited {color:white;text-decoration: none;}
.btn>a:hover   {color:white;text-decoration: underline;}
.btn>a:active  {color:white;text-decoration: none;}

a:link    {color:black;text-decoration: underline;}
a:visited {color:black;text-decoration: underline;}
a:hover   {color:black;text-decoration: none;}
a:active  {color:black;text-decoration: none;}

#top-banner{
	border-right-style:solid;
	border-right-width:1px;
	border-collapse: separate;

	-webkit-transition-property: background-color, border-color;
	-webkit-transition-duration:500ms, 500ms;
	-webkit-transition-timing-function: ease-in-out, ease-in-out;

	-moz-transition-property: background-color, border-color;
	-moz-transition-duration:500ms, 500ms;
	-moz-transition-timing-function: ease-in-out, ease-in-out;

	-o-transition-property: background-color, border-color;
	-o-transition-duration:500ms, 500ms;
	-o-transition-timing-function: ease-in-out, ease-in-out;
}

#bottom-banner{
	border-style:solid;
	border-collapse: separate;
	border-bottom-right-radius:4px;
	border-right-width:1px;
	border-bottom-width:1px;

	-webkit-transition-property: background-color, border-color;
	-webkit-transition-duration:500ms, 500ms;
	-webkit-transition-timing-function: ease-in-out, ease-in-out;

	-moz-transition-property: background-color, border-color;
	-moz-transition-duration:500ms, 500ms;
	-moz-transition-timing-function: ease-in-out, ease-in-out;

	-o-transition-property: background-color, border-color;
	-o-transition-duration:500ms, 500ms;
	-o-transition-timing-function: ease-in-out, ease-in-out;
}

#nav-list>li{
	font-size:1.25em;
	font-family:'Multi',sans-serif;
	color:white;
	border-top-width:1px;
	border-bottom-width:1px;
}

#nav-list>li:first-child
{
	border-left-width:1px;
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
}
#nav-list>li:last-child
{
	border-right-width:1px;
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
}

.btn{
	border-style:solid;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
	background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
}
.btn:hover{
	background-image: none;
}

.blue{
	background-color:#4D90FE;
	border-color:#3079ED;
	text-shadow: -1px 0 #3079ED, 0 1px #3079ED, 1px 0 #3079ED, 0 -1px #3079ED;
}

.purple{
	background-color:#BD4DFE;
	border-color:#A830ED;
	text-shadow: -1px 0 #A830ED, 0 1px #A830ED,1px 0 #A830ED, 0 -1px #A830ED;
}

.red{
	background-color:#DE4040;
	border-color:#C43939;
	text-shadow: -1px 0 #C43939, 0 1px #C43939,1px 0 #C43939, 0 -1px #C43939;
}

.orange{
	background-color:#DEAC40;
	border-color:#C49839;
	text-shadow: -1px 0 #C49839, 0 1px #C49839,1px 0 #C49839, 0 -1px #C49839;
}

.pro{
	border-radius:5px;
}

.contentDiv{
	background-color:white;
	border-radius:4px;
}

.pro>tbody>tr>td>img{
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
}